
<!-- Header -->
<header class="masthead" >
<div class="container d-flex h-100 align-items-center" >
  <!-- <div class="row">
  </div> -->
    <div class="mx-auto text-center">
    <h1 class="col-12 my-0 text-uppercase" style="font-size: xx-large;">Pooria Poorsarvi Tehrani Productions</h1>
    <h2 class="text-white-50 mx-auto mt-2 mb-5">A UofT computer scientist, and a full-stack programmer.</h2>
    <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
    </div>
</div>
</header>
