
<!-- Contact Section -->
<section class="contact-section bg-black" #contacts>
<div class="container">

    <div class="row">

    <app-address class="col-md-4 mb-3 mb-md-0" [address] = "personalInfoService.getPersonalInfo().address"></app-address>
    <app-email class="col-md-4 mb-3 mb-md-0" [emailAddress] = "personalInfoService.getPersonalInfo().emailAddress"></app-email>
    <app-phone class="col-md-4 mb-3 mb-md-0" [phoneNumber] = "personalInfoService.getPersonalInfo().phoneNumber"></app-phone>

    </div>

    <app-sites></app-sites>

</div>
</section>


