<!-- <div class="row align-items-center no-gutters mb-4">
  <div class="col-xl-12" [innerHTML] = "blogEntity.title">
  </div>
  <img class="img-fluid col-lg-8 col-md-10 col-12" [src]="blogEntity.imageSrc" alt="">
</div> -->

<!-- <div *ngIf = "blogEntity.markDown != ''" [innerHTML] = "blogEntity.markDown"></div> -->

<!-- <div class="row align-items-center no-gutters mb-4">
  <div class="col-xl-12 card"> -->
    <!-- <app-mark-down-detail [innerHTMLMarkdown] = "blogEntity.markDown" *ngIf = "blogEntity.markDown != ''"></app-mark-down-detail> -->

  <!-- </div>
</div> -->



<!-- Begin Article
================================================== -->
<div class="container">
	<div class="row">

		<div class="col-md-2 col-xs-12">
			<div class="share">

			</div>
		</div>
		<!-- End Fixed Left Share -->

		<!-- Begin Post -->
		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<div class="mainheading">

				<!-- Begin Top Meta -->
				<div class="row post-top-meta">
					<div class="col-md-2">
						<a href="author.html"><img class="author-thumb" src="assets/img/profilePicture.jpg" alt="Pooria Poorsarvi Tehrani"></a>
					</div>
					<div class="col-md-10">
						<a class="link-dark" href="author.html">Pooria</a>
						<span class="author-description">Owner of <b>PPT Productions.</b> website you are currently on. You can go to the projects section for more information.</span>
            <!-- TODO : add a time section later -->
            <!-- <span class="post-date">22 July 2017</span><span class="dot"></span><span class="post-read">6 min read</span> -->
					</div>
				</div>
				<!-- End Top Menta -->

				<h1 class="posttitle" [innerHTML] = "blogEntity.title"></h1>

			</div>

			<!-- Begin Featured Image -->
			<img class="featured-image img-fluid" [src]="blogEntity.imageSrc"  alt="">
			<!-- End Featured Image -->

      <!-- Begin Post Content -->
      <app-mark-down-detail [markDownSrc] = "blogEntity.markDownSrc" *ngIf = "blogEntity.markDownSrc != ''"></app-mark-down-detail>
      <!-- End Post Content -->

      <!-- TODO add tags -->
			<!-- Begin Tags -->
			<!-- <div class="after-post-tags">
				<ul class="tags">
					<li><a href="#">Design</a></li>
					<li><a href="#">Growth Mindset</a></li>
					<li><a href="#">Productivity</a></li>
					<li><a href="#">Personal Growth</a></li>
				</ul>
			</div> -->
			<!-- End Tags -->

		</div>
		<!-- End Post -->

	</div>
</div>
<!-- End Article
================================================== -->

<div class="hideshare"></div>

<!-- Begin Related
================================================== -->
<div class="graybg">
	<div class="container">
		<div class="row listrecent listrelated">
			<div class="col-md-4"></div>
			<!-- begin post -->
			<div class="col-md-4">
				<div class="card">
					<a href="post.html">
					<img class="img-fluid img-thumb" [src]="blogEntity.imageSrc" alt="">
					</a>
					<div class="card-block">
						<h2 class="card-title"><a href="post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h2>
						<div class="metafooter">
							<div class="wrapfooter">
								<span class="meta-footer-thumb">
								<a href="author.html"><img class="author-thumb" src="assets/img/profilePicture.jpg" alt="Pooria Poorsarvi Tehrani"></a>
								</span>
								<span class="author-meta">
								<span class="post-name"><a href="">Pooria</a></span><br/>
								<!-- <span class="post-date">22 July 2017</span><span class="dot"></span><span class="post-read">6 min read</span> -->
								</span>
								<!-- <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end post -->

		</div>
	</div>
</div>
<!-- End Related Posts
================================================== -->
